/* Basic styling */
* { 
    box-sizing: border-box; /* Padding and Border are included in the width & height */
    /* Clear browser specific formatting */
    margin: 0;
    padding: 0;
}

body {
    font: 15px "Lato", sans-serif;
    color:white;
    /* Background Properties */
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: black;
}

/* NAV Styles */

nav {
    background-color: white;
    padding: 0 15px;
    height: max-content; 
}

a {
    color:hsl(9.09, 58.41%, 55.69%);
    text-decoration: none;
}

/* Mobile  NAV menu */

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.menu a:hover {
    background-color: lightgray;
}

.menu li a {
    display: block;
    padding: 15px 45px;
}

.toggle {
    order: 1;
    font-size: 20px;
}

.logo {
    font-size: 20px;
    padding: 7.5px 10px 7.5px 0;
}

.item {
    /* padding: 10px; */
    order: 2;
    width: 100%;
    text-align: center;
    display: none;
}

.active .item {
    display: block;
}

/* Tablet NAV menu */

@media all and (min-width: 700px) {
    .menu {
        justify-content: center;
    }
    .logo {
        flex: 1;
    }
    .toggle {
        flex: 1;
        text-align: right;
        order: 1;
    }
}

/* Desktop NAV menu */

@media all and (min-width: 960px) {
    .menu {
        align-items:flex-start;
        flex-wrap: nowrap;
        background: none;
        justify-content: end;
    }
    .logoTxt {
        margin-right: auto;
        letter-spacing: .2em;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
        position: relative;
        display: block;
        width: auto;
    }
    .toggle {
        display: none;
    }
}

header {
    padding: 15px;
}

.headingSep {
    background-color: white;
    text-align: center;
    padding: 25px;
    color:black;
}

.headerLogo {
    /* Center Header Logo */
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* Adjust Logo Size */
    width: 15%;
}

.mainBanner {
    margin: 35px 0px 15px 0px;
}

main {
    /* Background img Properties */
    background-image: url('/img/salonBkg2.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-color: black;
    /* Justification & Alignment */ 
    text-align: center;
    height: 150vh;
}

/* First Row Promo Flexbox */

.firstRow {
    display: flex;
}

.bannerImg {
    flex:1;
}

/* Three Column Grid */

/* container */
.responsive-three-column-grid {
    display:block;
}

/* columns */
.responsive-three-column-grid > * {
    padding:1rem;
}

/* tablet breakpoint */
@media (min-width:768px) {
    .responsive-three-column-grid {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.infoBox {
    border: 1px solid white ;
    background-color: hsl(9, 58%, 56%);
}

/* Two Column Grid */

/* container */
.responsive-two-column-grid {
    display:block;
}

/* columns */
.responsive-two-column-grid > * {
    padding:1rem;
}

/* tablet breakpoint */
@media (min-width:768px) {
    .responsive-two-column-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

p {
    padding: 15px 30px 15px 30px;
    line-height: 2em;
}

h1 {
    font-size: 3rem;
    padding: 15px;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1rem;
    letter-spacing: .5em;
}

footer {
    background-color: black;
    /* Justification & Alignment */ 
    text-align: center;
    padding: 1em;
    color: white;
}

.contactUs {
    display: block;
    color: hsl(9, 58%, 56%);
}

.socialLinks {
    padding: 10px;
}

.footerLogo {
    justify-content: center;
}